BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseExpressionOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None

BinPackArguments: false
BinPackParameters: false
BreakAfterReturnType: Automatic
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeColon
BreakTemplateDeclarations: Yes
BraceWrapping:
  AfterClass: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

ConstructorInitializerIndentWidth: 4
IndentCaseLabels: true
SortIncludes: true
PackConstructorInitializers: Never
PointerAlignment: Left

SpaceAfterCStyleCast: true
SpacesInAngles: false
SpacesInContainerLiterals: false

PenaltyReturnTypeOnItsOwnLine: 100
PenaltyBreakAssignment: 100
