BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty

BinPackArguments: false
BinPackParameters: false
BreakAfterOpenBracketBracedList: true
BreakAfterOpenBracketFunction: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Allman
BreakTemplateDeclarations: Yes
BraceWrapping:
  AfterClass: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentCaseLabels: true
SortIncludes: true
PointerAlignment: Left

SpaceAfterCStyleCast: true
SpacesInAngles: false
SpacesInContainerLiterals: false
